/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
a {
	color: black;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

body {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-size: 19px;
}

.logo-container {
	position: fixed;
	top: 0;
	background-color: white;
	display: flex;
	width: 100vw;
	height: 45px;
	justify-content: center;
	align-items: center;
}

nav {
	position: fixed;
	top: 0;
	width: 100vw;
	height: 45px;
	border-bottom: 1px solid lightgray;
	font-family: Arial, Helvetica, sans-serif;
	display: grid;
	grid-template-columns: auto auto 1fr auto auto;
	grid-auto-flow: column;
	padding: 0 20px;
}

.fa {
	align-self: center;
	margin: 0 12px;
}

.nav-icon {
	height: 30px;
	width: 30px;
	padding: 6px 7px;
}

.nav-icon:hover {
	background-color: #eee;
}

.subject {
	align-self: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 15px;
	margin: 0 12px;
}

.btn {
	text-transform: uppercase;
	font-size: 10px;
	font-weight: 700;
	color: white;
	background-color: rgb(68, 140, 168);
	border-radius: 3px;
	border: 1px solid black;
	margin: 7px 3px;
	padding: 0 10px;
}

.btn:hover {
	background-color: rgb(50, 103, 124);
}

.main-container {
	margin-top: 45px;
}

.hero {
	max-width: 940px;
	margin: 0 auto;
}

.hero-caption {
	font-size: 18px;
	width: 740px;
	color: #666;
	margin: 7px 0;
}

.credit {
  font-size: 14px;
  color: gray;
}

.article {
	margin: 40px auto;
	width: 620px;
}

.article p {
	line-height: 1.5;
	font-size: 22px;
	margin-bottom: 10px;
}

.article-text {
	margin-top: 15px;
}

.article h1{
	font-size: 35px;
	font-style: italic;
	font-weight: 600;
	width: 380px;
	margin-top: 100px;
	margin-bottom: 30px;
}

h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	margin: 20px 0;
	font-size: 16px;
}

h4 {
	font-size: 20px;
	margin: 10px 0;
	font-weight: 600;
}

.inflation {
	margin-left: -160px;
	width: 940px;
	display: grid;
	grid-template-rows: 100px 600px 80px;
	grid-auto-flow: column;
}

.inflation p {
	color: #999;
	font-size: 16px;
}

.inflation img {
	width: 940px;
	grid-area: 2 / 1 / span 1 / -1;
}

.inflation-grid {
	grid-area: 2 / 1 / span 1 / -1;
	display: grid;
	grid-template-columns: repeat (4, 1fr);
	grid-template-rows: 120px [captions1] 1fr 80px [captions2] 1fr;
	grid-gap: 20px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1;
}

.inflation-caption1 {
	grid-row-start: captions1;
}

.inflation-caption2 {
	grid-row-start: captions2;
}

.caption-intro {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 11px;
	margin-right: 15px;
}

.caption-body {
	font-size: 12px;
	color: #666;
}

.inflation-credit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

.social {
	height: 40px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-flow: column;
	align-items: center;
}
.date {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: 200;
}

.round {
	border-radius: 50%;
	border: 1px solid #ddd;
	background-color: #ddd;
	width: 30px;
	height: 30px;
	margin: 0 7px;
	padding-top: 3px;
	padding-left: 5px;
}

.round:hover {
	background-color: white;
}

.comment-button {
	height: 35px;
	width: 70%;
	margin-left: 0;
	font-size: 13px;
}

.print-info {
	color: #999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin: 30px 0;
}

.print-info a {
	color: #999;
}

.below-article {
	width: 90%;
	margin: 0 auto;
}

.related {
	height: 1000px;
	display: grid;
	grid-template: 63% 1fr / 70% 1fr;
	grid-gap: 25px;
}

.related > * {
	border-top: 1px solid black;
}

.more-in-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right: -20px;
}

.most-popular {
	grid-area: 1 / 2 / span 2 / span 1;
}

.teaser {
	flex: 1;
	min-width: 200px;
	max-width: 250px;
	margin-right: 20px;
}

.thumb {
	width: 100%;
}

.thumb-credit {
	font-size: 11px;
	color: #999;
	display: block;
	text-align: right;
}

.thumb-title:hover {
	text-decoration: none;
	color: #666;
}

.thumb-date {
	margin-bottom: 10px;
	font-size: 12px;
	color: #999;
}

.pop {
	border-top: 1px solid #ccc;
	padding: 20px 0;
	width: 100%;
	display: flex;
}

.newspaper-header {
	display: flex;
	width: 100%;
	height: 40px;
	border-top: 1px double #ccc;
	align-items: center;
	justify-content: space-between;
}

.home-link {
	color: #666;
	font-size: 12px;
}

.newspaper-nav {
	display: flex;
	height: 350px;
	width: 100%;
	margin-bottom: 15px;
}

.category {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	flex: 1;
}

h5 {
	font-weight: 600;
	text-transform: uppercase;
	margin: 15px 0;
}

.subcategory {
	margin: 8px 0;
}

.subcategory-large {
	margin: 11px 0;
	font-size: 15px;
	font-weight: 600;
}

.subcategory-small {
	margin: 11px 0;
	font-size: 10px;
}

.hr {
	border-top: 1px solid #ccc;
}

.category-subscribe {
	border-left: 1px solid #ccc;
	padding-left: 15px;
}
.nyt-links {
	display: flex;
	width: 100%;
	height: 30px;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
	border-top: 1px solid #ccc;
}

.nyt-links a {
	color: #999;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 7px;
}
.subscribe {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 40px;
	background-color: white;
	border-top: 1px solid black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
}


.subscribe-options {
	position: fixed;
	bottom: 0;
	width: 100vw;
	height: 40px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: right;
	font-family: Arial, Helvetica, sans-serif;
}

.subscribe-options > * {
	margin-right: 30px;
}
